@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('./index.css');
@import url('./footer.css');
@import url('./collections.css');

.main_page .navbar {
    background-color: transparent;
}

.main_page .center_nav {
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.main_page {
    background: linear-gradient(16deg, rgba(181, 220, 245, 0.6227533249627977) 15%, rgba(218, 217, 227, 0.9588877787443102) 77%);
    min-height: 100vh;
    position: relative;
}
.main_page footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.main_page #navbarNav .nav-link{
    color: black;
    font-weight: 100;
    min-width: 6rem;
    text-align: center;
}
.main_page #navbarNav .nav-link:hover{
    border-bottom: 1px solid white;
    transition: all 0.4s ease-in;
}

.main_page .navbar .brand_name{
    color: rgb(1, 1, 159);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2rem;
}

.main_page .auth_btn{
    border: 1px solid rgb(1, 1, 141);
    background-color: transparent;
    /* border-radius: 30px; */
    font-size: 0.9rem;
    padding: 0.1rem 1rem;
}
.main_page .auth_btn:hover{
    background-color: rgb(1, 1, 141);
    color: white;
    /* transform: scale(1.); */
    /* transition: all 0.2s ease-in; */
}