{{!-- template-lint-disable no-invalid-interactive --}}
<div class="card" {{on 'click' (fn this.gotoApi @api.url)}}>
    <div class="card-body p-1 m-0">
        <div class="row align-items-center">
            <div class="col-3">
                <img src="/assets/images/103093.png" alt="invalid-image" width="50px" class="d-flex mx-auto">

            </div>
            <div class="col-7">
                <div class="api_data">
                    <h6>{{@api.endpoint}}</h6>
                    <p class="lead">{{@api.source}}</p>
                </div>
            </div>
            
        </div>
    </div>

</div>