<div class="index_page">

    <div class="row w-100">
        <div class="col-12 col-lg-6 text_box mb-5">
            <div class="text_body">
                <div class="one_text">
                    One
                </div>
                <p class="rest_text">
                    Place for all API you need
                </p>
                {{!-- <button type="button" class="gs_btn">Get Started <span><img src="/assets//images/fast-forward.png" alt="no-image-found" width="15px"></span></button> --}}
            </div>

        </div>
        <div class="col-12 col-lg-6 img_body">
            <div class="phone">
                <div class="speaker"></div>
                <div class="join_body">

                    <img src="/assets/images/gear_gif.gif" alt="no-image-found" width="125px" class="d-block mx-auto">
                    {{!-- <button type="button"
                        class="join_btn d-block mx-auto p-0 mt-2 w-100">Join</button> --}}

                </div>
                <div class="home"></div>
            </div>
        </div>
    </div>
</div>